<table class="table">
    <thead>
      <tr>
        <th scope="col">Imagen</th>
        <th scope="col">ID</th>
        <th scope="col">Nombre</th>
        <th scope="col">Categoría</th>
        <th scope="col">Precio</th>
        <th scope="col">Más</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let producto of listaProductos; let i=index">
        <td><img src={{producto.image}} width="80px" height="80px"></td>
        <th scope="row">{{i+1}}</th>
        <td>{{ producto.title }}</td>
        <td>{{ producto.category }}</td>
        <td>{{ producto.price }}€</td>
        <td><button class="btn btn-outline-primary" [routerLink]="['/productos',producto.id]">Más información</button></td>
      </tr>
    </tbody>
  </table>
