<table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nombre</th>
        <th scope="col">Precio</th>
        <th scope="col">Cantidad</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Libro</td>
        <td>22</td>
        <td>2</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Pantalla</td>
        <td>234</td>
        <td>1</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Platos</td>
        <td>16</td>
        <td>12</td>
      </tr>
    </tbody>
  </table>
